ninja  # For faster builds.
psutil
sentencepiece  # Required for LLaMA tokenizer.
numpy
torch >= 2.1.1
transformers == 4.31.0  # Required for Mixtral.
xformers >= 0.0.23  # Required for CUDA 12.1.
tiktoken
